.navigation-links11-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links11-link {
  text-decoration: none;
}
.navigation-links11-navlink {
  margin-left: 32px;
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links11-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links11-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links11-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.browser-games-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.browser-games-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.browser-games-image {
  width: 86px;
  height: 86px;
}
.browser-games-nav {
  display: flex;
}
.browser-games-burger-menu {
  display: none;
}
.browser-games-icon {
  width: 16px;
  height: 16px;
}
.browser-games-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.browser-games-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.browser-games-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.browser-games-image1 {
  height: 2rem;
}
.browser-games-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.browser-games-icon02 {
  width: 16px;
  height: 16px;
}
.browser-games-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.browser-games-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.browser-games-icon08 {
  width: 16px;
  height: 16px;
}
.browser-games-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.browser-games-service-card {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.browser-games-card-content {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.browser-games-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-text01 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-link {
  color: var(--dl-color-gray-white);
  width: 202px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.browser-games-service-card1 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.browser-games-card-content1 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.browser-games-text02 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-text03 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-link1 {
  color: var(--dl-color-gray-white);
  width: 193px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.browser-games-service-card2 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.browser-games-card-content2 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.browser-games-text04 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-text05 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-link2 {
  color: var(--dl-color-gray-white);
  width: 172px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.browser-games-service-card3 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.browser-games-card-content3 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.browser-games-text06 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-text07 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-link3 {
  color: var(--dl-color-gray-white);
  width: 181px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.browser-games-services1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.browser-games-service-card4 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.browser-games-card-content4 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.browser-games-text08 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-text09 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-link4 {
  color: var(--dl-color-gray-white);
  width: 176px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.browser-games-service-card5 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.browser-games-card-content5 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.browser-games-text10 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-text11 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.browser-games-link5 {
  color: var(--dl-color-gray-white);
  width: 182px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.browser-games-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.browser-games-container2 {
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.browser-games-image2 {
  width: 118px;
  height: 117px;
  margin-bottom: 32px;
}
.browser-games-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 32px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.browser-games-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 767px) {
  .browser-games-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .browser-games-nav {
    display: none;
  }
  .browser-games-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .browser-games-card-content {
    margin: 0px;
  }
  .browser-games-card-content1 {
    margin: 0px;
  }
  .browser-games-card-content2 {
    margin: 0px;
  }
  .browser-games-card-content3 {
    margin: 0px;
  }
  .browser-games-card-content4 {
    margin: 0px;
  }
  .browser-games-card-content5 {
    margin: 0px;
  }
  .browser-games-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .browser-games-image2 {
    margin-bottom: 24px;
  }
  .browser-games-separator {
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .browser-games-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .browser-games-text12 {
    margin-bottom: 24px;
  }
}
@media(max-width: 479px) {
  .browser-games-header {
    padding: var(--dl-space-space-unit);
  }
  .browser-games-mobile-menu {
    padding: 16px;
  }
  .browser-games-service-card {
    width: 100%;
  }
  .browser-games-service-card1 {
    width: 100%;
  }
  .browser-games-service-card2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .browser-games-service-card3 {
    width: 100%;
  }
  .browser-games-service-card4 {
    width: 100%;
  }
  .browser-games-service-card5 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .browser-games-footer {
    padding: var(--dl-space-space-unit);
  }
  .browser-games-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .browser-games-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .browser-games-text12 {
    text-align: center;
    margin-bottom: 24px;
  }
}
