.navigation-links7-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links7-text1 {
  margin-left: 32px;
}
.navigation-links7-text2 {
  margin-left: 32px;
}
.navigation-links7-text3 {
  margin-left: 32px;
}
.navigation-links7-text4 {
  margin-left: 32px;
}









@media(max-width: 767px) {
  .navigation-links7-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links7-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.footer-container {
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-image {
  width: 118px;
  height: 117px;
  margin-bottom: 32px;
}
.footer-nav {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 32px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-image {
    margin-bottom: 24px;
  }
  .footer-separator {
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text {
    margin-bottom: 24px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text {
    text-align: center;
    margin-bottom: 24px;
  }
}

.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text1 {
  margin-left: 32px;
}
.navigation-links1-text2 {
  margin-left: 32px;
}
.navigation-links1-text3 {
  margin-left: 32px;
}
.navigation-links1-text4 {
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text1 {
  margin-left: 32px;
}
.navigation-links2-text2 {
  margin-left: 32px;
}
.navigation-links2-text3 {
  margin-left: 32px;
}
.navigation-links2-text4 {
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links3-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links3-text1 {
  margin-left: 32px;
}
.navigation-links3-text2 {
  margin-left: 32px;
}
.navigation-links3-text3 {
  margin-left: 32px;
}
.navigation-links3-text4 {
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links3-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links3-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links4-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links4-text1 {
  margin-left: 32px;
}
.navigation-links4-text2 {
  margin-left: 32px;
}
.navigation-links4-text3 {
  margin-left: 32px;
}
.navigation-links4-text4 {
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links4-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links4-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links4-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links5-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links5-text1 {
  margin-left: 32px;
}
.navigation-links5-text2 {
  margin-left: 32px;
}
.navigation-links5-text3 {
  margin-left: 32px;
}
.navigation-links5-text4 {
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links5-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links5-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links6-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links6-text1 {
  margin-left: 32px;
}
.navigation-links6-text2 {
  margin-left: 32px;
}
.navigation-links6-text3 {
  margin-left: 32px;
}
.navigation-links6-text4 {
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links6-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links6-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links6-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links6-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links6-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links6-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-image {
  width: 124px;
  height: 118px;
  text-decoration: none;
}
.home-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.home-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: 16px;
  height: 16px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image01 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: 16px;
  height: 16px;
}
.home-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon08 {
  width: 16px;
  height: 16px;
}
.home-hero {
  width: 100%;
  height: 611px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-image02 {
  width: 610px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-card-content {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text02 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link1 {
  color: var(--dl-color-gray-white);
  width: 202px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-service-card1 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-card-content1 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text03 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text04 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link2 {
  color: var(--dl-color-gray-white);
  width: 193px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-service-card2 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-card-content2 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text05 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text06 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link3 {
  color: var(--dl-color-gray-white);
  width: 172px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-service-card3 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-card-content3 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text07 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text08 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link4 {
  color: var(--dl-color-gray-white);
  width: 181px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-services1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card4 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-card-content4 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text09 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text10 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link5 {
  color: var(--dl-color-gray-white);
  width: 176px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-service-card5 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-card-content5 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text11 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text12 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-link6 {
  color: var(--dl-color-gray-white);
  width: 182px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-image03 {
  width: 100px;
  object-fit: cover;
}
.home-header1 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image04 {
  height: 2rem;
}
.home-nav02 {
  display: flex;
}
.home-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  border-width: 0px;
  margin-right: 32px;
}
.home-burger-menu1 {
  display: none;
}
.home-icon10 {
  width: 16px;
  height: 16px;
}
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image05 {
  height: 2rem;
}
.home-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon12 {
  width: 16px;
  height: 16px;
}
.home-icon14 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon16 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon18 {
  width: 16px;
  height: 16px;
}
.home-header2 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image06 {
  height: 2rem;
}
.home-nav04 {
  display: flex;
}
.home-btn-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login1 {
  border-width: 0px;
  margin-right: 32px;
}
.home-burger-menu2 {
  display: none;
}
.home-icon20 {
  width: 16px;
  height: 16px;
}
.home-mobile-menu2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image07 {
  height: 2rem;
}
.home-menu-close2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon22 {
  width: 16px;
  height: 16px;
}
.home-icon24 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon26 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon28 {
  width: 16px;
  height: 16px;
}
.home-header3 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image08 {
  height: 2rem;
}
.home-nav06 {
  display: flex;
}
.home-btn-group3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login2 {
  border-width: 0px;
  margin-right: 32px;
}
.home-burger-menu3 {
  display: none;
}
.home-icon30 {
  width: 16px;
  height: 16px;
}
.home-mobile-menu3 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image09 {
  height: 2rem;
}
.home-menu-close3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon32 {
  width: 16px;
  height: 16px;
}
.home-icon34 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon36 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon38 {
  width: 16px;
  height: 16px;
}
.home-header4 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image10 {
  height: 2rem;
}
.home-nav08 {
  display: flex;
}
.home-btn-group4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login3 {
  border-width: 0px;
  margin-right: 32px;
}
.home-burger-menu4 {
  display: none;
}
.home-icon40 {
  width: 16px;
  height: 16px;
}
.home-mobile-menu4 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image11 {
  height: 2rem;
}
.home-menu-close4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon42 {
  width: 16px;
  height: 16px;
}
.home-icon44 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon46 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon48 {
  width: 16px;
  height: 16px;
}
.home-header5 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image12 {
  height: 2rem;
}
.home-nav10 {
  display: flex;
}
.home-btn-group5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login4 {
  border-width: 0px;
  margin-right: 32px;
}
.home-burger-menu5 {
  display: none;
}
.home-icon50 {
  width: 16px;
  height: 16px;
}
.home-mobile-menu5 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image13 {
  height: 2rem;
}
.home-menu-close5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon52 {
  width: 16px;
  height: 16px;
}
.home-icon54 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon56 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon58 {
  width: 16px;
  height: 16px;
}
.home-header6 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image14 {
  height: 2rem;
}
.home-nav12 {
  display: flex;
}
.home-btn-group6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login5 {
  border-width: 0px;
  margin-right: 32px;
}
.home-burger-menu6 {
  display: none;
}
.home-icon60 {
  width: 16px;
  height: 16px;
}
.home-mobile-menu6 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container7 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image15 {
  height: 2rem;
}
.home-menu-close6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon62 {
  width: 16px;
  height: 16px;
}
.home-icon64 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon66 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon68 {
  width: 16px;
  height: 16px;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-hero-text-container {
    width: 80%;
  }
  .home-cta-btn {
    width: 40%;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav {
    display: none;
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-heading {
    text-align: center;
  }
  .home-text {
    text-align: center;
  }
  .home-card-content {
    margin: 0px;
  }
  .home-card-content1 {
    margin: 0px;
  }
  .home-card-content2 {
    margin: 0px;
  }
  .home-card-content3 {
    margin: 0px;
  }
  .home-card-content4 {
    margin: 0px;
  }
  .home-card-content5 {
    margin: 0px;
  }
  .home-header1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav02 {
    display: none;
  }
  .home-btn-group1 {
    display: none;
  }
  .home-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-header2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav04 {
    display: none;
  }
  .home-btn-group2 {
    display: none;
  }
  .home-burger-menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-header3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav06 {
    display: none;
  }
  .home-btn-group3 {
    display: none;
  }
  .home-burger-menu3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-header4 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav08 {
    display: none;
  }
  .home-btn-group4 {
    display: none;
  }
  .home-burger-menu4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-header5 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav10 {
    display: none;
  }
  .home-btn-group5 {
    display: none;
  }
  .home-burger-menu5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-header6 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav12 {
    display: none;
  }
  .home-btn-group6 {
    display: none;
  }
  .home-burger-menu6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-service-card {
    width: 100%;
  }
  .home-service-card1 {
    width: 100%;
  }
  .home-service-card2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card3 {
    width: 100%;
  }
  .home-service-card4 {
    width: 100%;
  }
  .home-service-card5 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-header1 {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu1 {
    padding: 16px;
  }
  .home-header2 {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu2 {
    padding: 16px;
  }
  .home-header3 {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu3 {
    padding: 16px;
  }
  .home-header4 {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu4 {
    padding: 16px;
  }
  .home-header5 {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu5 {
    padding: 16px;
  }
  .home-header6 {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu6 {
    padding: 16px;
  }
}
