.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 543px;
  min-height: 288px;
  height: auto;
  margin: 28px auto 60px 27px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 10px;
}

.u-section-1 .u-text-1 {
  margin: 0 38px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 238px;
  height: 177px;
  margin: 4px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: -121px 91px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}