<<<<<<< HEAD
.feature-card12-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card12-feature-card:hover {
  transform: scale(1.02);
}
.feature-card12-text {
  margin-bottom: 32px;
}
.feature-card12-image {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}


.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 24px;
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}

@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.portfolio-container {
  width: initial;
=======
.portfolio-container {
  width: 100%;
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
<<<<<<< HEAD
=======
  justify-content: flex-start;
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
}
.portfolio-hero {
  width: 100%;
  display: flex;
  padding: 48px;
<<<<<<< HEAD
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&h=1500');
=======
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.portfolio-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.portfolio-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.portfolio-container4 {
  display: flex;
  padding-right: 48px;
  flex-direction: column;
}
.portfolio-text {
  font-size: 3rem;
  max-width: 450px;
}
.portfolio-text1 {
  margin-top: 32px;
  margin-bottom: 32px;
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
}
.portfolio-link {
  display: contents;
}
.portfolio-icon {
<<<<<<< HEAD
  top: 22px;
  left: 59px;
  width: 61px;
  height: 106px;
  position: absolute;
  text-decoration: none;
}
.portfolio-heading {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.portfolio-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.portfolio-link1 {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.portfolio-link1:hover {
  transform: scale(1.02);
}
.portfolio-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.portfolio-text {
  font-size: 3rem;
  margin-bottom: 48px;
}
.portfolio-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: 32px;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.portfolio-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-feature-card:hover {
  transform: scale(1.02);
}
.portfolio-text01 {
  margin-bottom: 32px;
}
.portfolio-image {
  width: 100px;
  object-fit: cover;
}
.portfolio-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-feature-card1:hover {
  transform: scale(1.02);
}
.portfolio-text02 {
  margin-bottom: 32px;
}
=======
  width: 304px;
  height: 145px;
  text-decoration: none;
}
.portfolio-image {
  width: 540px;
  height: 387px;
  object-fit: cover;
}
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
.portfolio-image1 {
  width: 100px;
  object-fit: cover;
}
<<<<<<< HEAD
.portfolio-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-feature-card2:hover {
  transform: scale(1.02);
}
.portfolio-text03 {
  margin-bottom: 32px;
}
.portfolio-image2 {
  width: 114px;
  height: 75px;
  object-fit: cover;
}
.portfolio-features1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.portfolio-text04 {
  font-size: 3rem;
  margin-bottom: 48px;
}
.portfolio-container02 {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
}
.portfolio-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.portfolio-icon2 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 24px;
}
.portfolio-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-text05 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.portfolio-container04 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGJhY2tncm91bmR8ZW58MHx8fHwxNjUyNjk3MTE1&ixlib=rb-1.2.1&w=200');
}
.portfolio-pricing-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.portfolio-pricing-card:hover {
  transform: scale(1.02);
}
.portfolio-text08 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.portfolio-container05 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.portfolio-text09 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.portfolio-text12 {
  font-size: 4rem;
  font-weight: 700;
}
.portfolio-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.portfolio-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-pricing-card1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.portfolio-pricing-card1:hover {
  transform: scale(1.02);
}
.portfolio-text23 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.portfolio-container07 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.portfolio-text24 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.portfolio-text27 {
  font-size: 4rem;
  font-weight: 700;
}
.portfolio-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.portfolio-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text38 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-pricing-card2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.portfolio-pricing-card2:hover {
  transform: scale(1.02);
}
.portfolio-text39 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.portfolio-container09 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.portfolio-text40 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.portfolio-text43 {
  font-size: 4rem;
  font-weight: 700;
}
.portfolio-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.portfolio-text44 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text46 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text48 {
  margin-bottom: var(--dl-space-space-unit);
}
.portfolio-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
=======
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
@media(max-width: 991px) {
  .portfolio-hero {
    flex-direction: column;
  }
<<<<<<< HEAD
  .portfolio-heading {
    text-align: center;
  }
  .portfolio-text {
    align-self: center;
  }
  .portfolio-container01 {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .portfolio-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .portfolio-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
=======
  .portfolio-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .portfolio-text {
    text-align: center;
  }
  .portfolio-text1 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
  }
}
@media(max-width: 767px) {
  .portfolio-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
<<<<<<< HEAD
  .portfolio-features {
    padding-left: 32px;
    padding-right: 32px;
  }
  .portfolio-features1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .portfolio-container02 {
    grid-template-columns: 1fr;
  }
  .portfolio-feature-card3 {
    flex-direction: row;
  }
  .portfolio-container03 {
    flex-direction: column;
  }
  .portfolio-container04 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .portfolio-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .portfolio-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .portfolio-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
=======
  .portfolio-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .portfolio-image {
    width: 80%;
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
  }
}
@media(max-width: 479px) {
  .portfolio-hero {
<<<<<<< HEAD
    width: 100%;
    padding: 32px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .portfolio-btn-group {
    flex-direction: column;
  }
  .portfolio-features {
=======
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
<<<<<<< HEAD
  .portfolio-container01 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .portfolio-features1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .portfolio-container03 {
    flex-direction: column;
  }
  .portfolio-container04 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .portfolio-pricing-card2 {
    margin-bottom: 0px;
=======
  .portfolio-container4 {
    margin-bottom: var(--dl-space-space-unit);
>>>>>>> e26b45f8faef85e66e4b2bae415934a333240766
  }
}
