<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <img
        alt="logo"
        src="public/playground_assets/download-200h.jpeg"
        class="footer-image"
      />
      <nav class="footer-nav"></nav>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-container1">
      <span class="footer-text">
        <span>© 2022 Wuemeli All Rights Reserved.</span>
      </span>
      <div class="footer-icon-group"></div>
    </div>
  </footer>
</div>
