<div>
  <link href="./feature-card11.css" rel="stylesheet" />
  <div class="feature-card11-feature-card">
    <a href="browser-games.html" class="feature-card11-navlink">
      <h2 class="feature-card11-text"><span>Browser Games</span></h2>
    </a>
    <a href="browser-games.html" class="feature-card11-navlink1">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1614294149010-950b698f72c0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fGdhbWVzfGVufDB8fHx8MTY1MTgyODU5Ng&ixlib=rb-1.2.1&w=200"
        class="feature-card11-image"
      />
    </a>
  </div>
</div>
