<div>
  <link href="./feature-card3.css" rel="stylesheet" />
  <div class="feature-card3-feature-card">
    <svg viewBox="0 0 1024 1024" class="feature-card3-icon">
      <path
        d="M704 384h234v256h-234l-128-128zM384 704l128-128 128 128v234h-256v-234zM320 384l128 128-128 128h-234v-256h234zM640 320l-128 128-128-128v-234h256v234z"
      ></path>
    </svg>
    <h2 class="feature-card3-text"><span>Browser Games</span></h2>
    <a
      href="https://http"
      target="_blank"
      rel="noreferrer noopener"
      class="feature-card3-link"
    >
      <span>PLAY NOW</span>
    </a>
  </div>
</div>
